.container_div {
  margin: 150px 10px 0 40px
}

//.slider_div {
//  height: 300px;
//}

.slider_div img {
  height: 300px;
}

a:focus {
  border: 0;
  outline:none;
}

a:focus img {
  //height: 320px;
  border:2px solid #fff;
}


//.selected_img {
//  height: 280px;
  //margin: 10px;
  //border:5px solid #fff;
//}

//.unSelected_img {
//  height: 280px;
//  margin: 10px;
//  border:0
//}