.top_bar {
  width: 100%;
  height: 60px;
}

.top_bar_row {
  height: 60px;
  width: 100%;
  padding: 0 50px 0 50px;

  display: flex;
  align-items: center;

  z-index: 20;
}

button:focus {
  //border: 0;
  outline:none;

  border-radius:7px;
  box-shadow: -2px -2px 2px 1px #fff, 2px 2px 2px 1px #fff, -2px 2px 2px 1px #fff, 2px -2px 2px 1px #fff;
}

.top_btn_1, .top_btn_2, .top_account {
  font-size: 15px;
  background-color: #000000;
  color: #FFFFFF;
  border: none;
  height: 40px;

  padding: 0;
  border-radius:7px;
}

.top_btn_1 {
  flex-basis: 140px;
}

.top_btn_1 img {
  width: 30px;
  margin-right: 10px;
}

.top_btn_2 {
  margin-left: 20px;
  flex-basis: 120px;
}

.top_btn_2 img {
  width: 30px;
  margin-right: 10px;
}

.top_account {
  margin-left: 700px;
  flex-basis: 140px;
}

.top_account img {
  width: 30px;
  margin-right: 10px;
}

.top_wifi {
  margin-left: 20px;
  flex-basis: 40px;
  height: 35px;
}

.top_wifi img {
  width: 35px;
}

.top_bar_bg {
  position: absolute;
  top: 0;

  height: 60px;
  width: 100%;
  margin-bottom: 150px;
  opacity:0.4;
}

.top_bar_bg img {
  width: 100%;
  height: 100%;
}