.container_div {
  height: 100%;
  width: 100%;
  //background-color: #000000;
  //filter:alpha(Opacity=50);-moz-opacity:0.5;opacity: 0.5;
  background-image: url(../img/topbg20.jpg);
  opacity:0.4;
  background-size: 100%;
}

.row_div {
  width: 95%;
  margin-left: 5%;
  position: absolute;
  top: 18px;
}

.avatar_div {
  color: white;
}

.number_div {
  color: white;
}

.time_div {
  color: white;
}